body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
#shopping_cart {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.toolbar {
    display: flex;
    justify-content: space-between;
    height: 65px;
    background-color: blanchedalmond;
    border-bottom: 1px solid tan;
    padding: 10px 25px;
}
.content {
  width: 960px;
  margin: auto;
  margin-top: 25px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > img, .item > img {
    height: 100%;
}
.logo > p {
    color: coral;
    font-weight: 700;
    font-size: 21px;
    margin: 0px 0px 0px 15px;
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user > p {
  width:auto;
  color: coral;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px 0px 15px;
}
.acronym {
  display: flex;
  align-items: center;
  justify-content: center;
  color: blanchedalmond;
  font-size: 24px;
  height: 70%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: coral;
}
.info {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: dimgrey;
  font-size: 18px;
  border: 1px dashed dimgrey;
}
.info.error {
  color: crimson;
  border-color: crimson;
}
.item {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  box-sizing: border-box;
  font-size: 14px;
}
.item > .name {
  width: 50%;
}
.item > .value {
  width: 15%;
}
.item > .quantity {
  width: 10%;
  text-align: center;
  padding: 5px;
}
.item > .summary {
  width: 20%;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}
.item > img:hover {
  cursor: pointer;
}
.item:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}